@{
    ViewBag.Title = "About Us";
}


    <section class="container about py-5 my-5">

        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
        <p>Use this area to provide additional information.</p>
    </section>
